body {
    color: #000000;
    font-size: 1rem;
    font-family: 'EncodeSans-Regular';    
    font-weight: normal;
    background-color: rgb(226, 226, 226);
}
a:link, a:visited {
    color: rgb(77, 77, 77);
    transition: all 0.3s linear;
}
a:hover {
    transition: all 0.3s linear;
}
.container {
    width: 50%;
    margin:3rem auto;
    display:flex;
    flex-wrap:wrap;
}
section {
    padding:0.5rem;
}
.main {
    float:left;
    flex:0 0 auto;
    width:65%;
    margin:0 1%;
    border-radius: 0.3rem;
    background-color: rgb(255, 255, 255);
}
.main h2{
    display: block;
    text-align: center;
    text-decoration: underline;
}
.main ul li {
    color: blue;
    list-style-type: disc;
    transition: all 0.3s linear;
}
.main ul li:hover {
    padding:0 1rem;
    transition: all 0.3s linear;
}
.sidebar {
    float: right;
    width:28%;
    margin:0 1%;
    flex:0 0 auto;
    padding:0.3rem;
    border-radius: 0.3rem;
    background-color: rgb(255, 255, 255);
}
.sidebar p{
    text-align:center;
    letter-spacing: 2px;
    word-spacing: 1px;
}
img.avatar{
    width: 8rem;
    height:8rem;
    display: block;
	border-radius: 50%;
    filter: grayscale(1);
    margin:1rem auto 0 auto;
    transition: all 0.3s linear;
    border: 0.5rem solid rgb(255, 255, 255);
}
img.avatar:hover{
    filter: grayscale(0);
    transition: all 0.3s linear;
}
h2.title{
    width: 100%;
    display: block;
    font-size: 1.2rem;
    float: left;
    text-align: center;
    font-family: 'Sora-Bold';    
    font-weight: bold;
}
@media only screen and (max-width: 860px) {
    .container {width: 96%;margin:1rem auto;}
    .main {width:100%;float:left;flex:0 0 auto;margin:0.3rem 0;padding:0;}
    .sidebar {width:100%;float:left;flex:0 0 auto;margin:0;padding:0;}
}